i, a, .notFound{
    cursor: pointer;   
  }
.notFound{
  color: white;
}  
.notFound:hover{
  text-decoration: none;
  color: white;
}
.logout{
  font-size: 25px;
  text-shadow: 0 0 4px white;
}
@keyframes login {
  from {opacity: 0;}
  to {opacity: 1;}
}
.container{
  animation-name: login;
  animation-duration: 2s;
}  
ul{
    list-style: none;
  }
body{
    background-image: url("fondo.jpg");
    background-attachment: fixed;
  }
img{
  border-radius: 3px;
  transform: rotate(1deg);
  box-shadow: 3px 8px 13px rgba(0,0,0,0.6);
}
.letter {
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  padding: 24px;
  position: relative;
}
.letter:before, .letter:after {
  content: "";
  height: 98%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.letter:before {
  background: #fafafa;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  left: -5px;
  top: 4px;
  transform: rotate(-2.5deg);
}
.letter:after {
  background: #f6f6f6;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  right: -3px;
  top: 1px;
  transform: rotate(1.4deg);
}